#mainbody {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	text-align: center;
	border-collapse: collapse;
	border-spacing: 0;
	margin: auto;
	width: 1100px;
}

table {
	width: 1100px;
	border-collapse: collapse;
}

th, td {
	border: 1px solid #d0d0d0;
	color: black;
}

th {
	background-color: #B088FF;
	font: bold 16px "微軟雅黑";
	color: #fff;
}

td {
	font: 14px "微軟雅黑";
	height: 40px;
}

tbody tr:nth-child(4n+1) {
	
}

tbody tr:nth-child(4n+3) {
	background-color: #FFFFBB;
}

tbody tr:hover {
	background: linear-gradient(#BBFFEE, #AAFFEE, #99FFFF, #CCEEFF, #CCDDFF);
	font-size: 17px;
}

[data-parent]{
	cursor: pointer;
}

[data-child] {
	display: none;
	margin-top:20px;
	border: 1px solid #d0d0d0;
/* 	border-radius: 2%; */
	background: linear-gradient(to right, #DDEFBB, #FFEEEE); 
	height: 180px;
/* 	position: absolute; */
/* 	left: 25%; */
	
}
